<div id="throbber" style="display:none; min-height:120px;">

</div>
<div id="noty-holder"></div>
<div id="wrapper">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <app-menu-superior></app-menu-superior>
    <div class="container-fluid">
      <div class="row">
        <app-menu-lateral></app-menu-lateral>
      </div>
    </div>
  </nav>

  <div id="page-wrapper">
    <div class="container-fluid">
      <div class="row" id="main">
        <div class="col-sm-12 col-md-12 well conteudoPaginaGerenciamento"> 
          Seja bem vindo a área de gerenciamento de eventos!
        </div>
      </div>
    </div>
  </div>
</div>